

@import "tailwindcss";

*{
 
  font-family: "Noto Sans", sans-serif;;
}

h1,h2,h3,h4,h5{
   font-family: "Playfair Display", serif;
   letter-spacing: 4px;
}

.sec-font{
  font-family: "Playfair Display", serif;
}

.blog-section h2{
  margin: 16px 0px;
  font-size: 16px;
}

.blog-section p{
  line-height: 30px;
  font-size:14px;
}